<!DOCTYPE html>
<html>
	<center>
		<body>
			<h2>Would you like the AI to pick a word or be the guesser?</h2>
			<br>
			<hr>
			<hr>
			<br>
			<br>
			<form action = "/aitype" method = "post">
				<select name = "type">
	 			<option value = "Pick">Pick</option>
				<option value = "Guess">Guess</option>
				</select>
				<input id = "submit" type = "submit">
			</form>
		</body>
	</center>
</html>