<!DOCTYPE html>
<html>
	<center>
		<body>
			<h2>Now that you chose to play against an AI, you must choose a word for it to guess.</h2>
			<br>
			<hr>
			<hr>
			<br>
			<br>
			<form action = "/choosewordai" method = "post">
				<input id = "ai_word" type = "text" name = "ai_word">
				<input id = "submit" type = "submit">
			</form>
		</body>
	</center>
</html>