<!DOCTYPE html>
<html>
	<head>
	<link href="css/custom_style.css" rel="stylesheet">   
	</head>
	<center>
		<header>
		<div class = "margin_top">
			<h2>Hello, welcome to Hangman. Would you like to play another person or an AI?</h2>
			<form action = "/chooseplayertype" method = "post" class = "fix_padding">
				<select name = "opponent">
	 			<option value = "Human">Human</option>
				<option value = "AI">AI</option>
				</select>
				<input id = "submit" type = "submit">
			</form>
			</div>
		</header>
	</center>
</html>