<!DOCTYPE html>
<html>
	<center>
		<body>
			<h2>Now that you chose to play against another human, one of you must choose a word for the other to guess.</h2>
			<br>
			<hr>
			<hr>
			<br>
			<br>
			<form action = "/choosewordhuman" method = "post">
				<input id = "word" type = "text">
				<input id = "submit" type = "submit">
			</form>
		</body>
	</center>
</html>