<!DOCTYPE html>
<html>
	<center>
		<body>
			<h2>Hello, welcome to Hangman. Would you like to play another person or an AI?</h2>
			<br>
			<hr>
			<hr>
			<br>
			<br>
			<form action = "/chooseplayertype" method = "post">
				<select name = "opponent">
	 			<option value = "Human">Human</option>
				<option value = "AI">AI</option>
				</select>
				<input id = "submit" type = "submit">
			</form>
		</body>
	</center>
</html>