<br>
<br>
<br>
<br>
<br>
<center>
<% string_with_blanks = string_with_blanks.split("") %>
<% string_with_blanks.each do |x| %>
<font size="6"> <%=x%> </font>
<% end %>
<body>
	<h2>You currently have <%=chances%> chances left. Above is your current status on the word, please make a one-letter guess.</h2>
	<br>
	<hr>
	<hr>
	<br>
	<br>
	<form action = "/makeguess" method = "post">
		<input id = "guess" type = "text" name = "guess">
		<input id = "submit" type = "submit">
	</form>
</body>
</center>



	