<br>
<br>
<br>
<br>
<br>
<center>
<h3>Here is the word: <%=word%></h3>
<body>
	<br>
	<br>
	Past guesses: <%=list_of_guesses%>
	<br>
	<br>
	<br>
	<h2>There are no chances left, the guesser has lost! Would you like to play again?</h2>
	<br>
	<hr>
	<hr>
	<br>
	<br>
	<form action = "/playagain" method = "post">
		<input id = "submit" type = "submit" value = "Play again.">
	</form>
</body>
</center>