<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Hangman App</title>
  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Plugin CSS -->   
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css">
  <!-- Theme CSS -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <!--custome style-->
  <link href="css/custom_style.css" rel="stylesheet">


  <style>
               
          /* misc start */
          *{
               margin:0px;
               padding:0px
          }
          
          body{
               font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
          }
          
          .media1140px{
               background-color:#CE9429;
          }
          
          .media768px{
               background-color:#EDD49A;
          }
          
          .media480px{
               background-color:#EFEF34;
          }
          
          .media300px{
               background-color:#82EAFF;
          }
          
          .media1140px, .media768px, .media480px, .media300px{
               padding:15px;
          }
          
          p{
               margin:0 0 20px 0;
          }
          
          .clearb{
               clear:both;
          }

          @media only screen and (min-width: 480px) {
               #mainHeader {
                    background-color:#EFEF34;
               }
               
               nav ul li{
                    float:left;
                    width:25%;
               }
          }
          
          @media only screen and (min-width: 768px) {
               #mainHeader {
                    background-color:#EDD49A;
               }
               
               #mainSection{
                    float: left;
                    width: 61%;
               }
               
               #sideBox1{
                    float: right;
                    width: 30%;
               }
               
               
          }
          
          
          @media only screen and (min-width: 1140px) {
               #mainHeader {
                    background-color:#CE9429;
               }
               
               #responsiveLogo{
                    float:left;
                    width:30%;
               }
               
               nav{
                    float:left;
                    width:70%;
               }
               
               nav ul{
                    margin:1.5em 0 0 0;
               }
          }
          
  </style>   
</head>

<header class="header">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">                
    <!-- </div> -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="download">
                    <a class="page-scroll" href="#download">Hangman</a>
                </li>
                <li class="features">
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li class="contact">
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<body id="page-top" class="page_top">
    <%=yield%>
  <!--social media-->
     <section id="contact" class="contact bg-primary">
        <div class="container">
          <br>
          <br>
          <br>
          <br>
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social socialIcons">
                <li class="social-twitter twitter">
                    <a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook facebook">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus google">
                    <a href="http://www.google.com"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section> 

<!--footer-->  
<footer>
  <div class="container">
  <p>&copy; 2017 Aaron Hill. All Rights Reserved.</p>
    <ul class="list-inline footer footer-list">
      <li>
          <a href="#">Privacy</a>
      </li>
      <li>
          <a href="#">Terms</a>
      </li>
      <li>
          <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>   
    <script src="https://code.jquery.com/jquery.js"></script>    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/new-age.js"></script>
    <script src="js/new-age.min.js"></script>
</body>
</html>