<center>
<header>
	<div class = "hangman">
	<% if chances == 9 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png" alt="Phase 1" style="width:125px;height:145px;">
	<% elsif chances == 8 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png" alt="Phase 2" style="width:125px;height:145px;">
	<% elsif chances == 7 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png" alt="Phase 3" style="width:125px;height:145px;">
	<% elsif chances == 6 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png" alt="Phase 4" style="width:125px;height:145px;">
	<% elsif chances == 5 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Hangman-1.png" alt="Phase 5" style="width:125px;height:145px;">
	<% elsif chances == 4 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Hangman-2.png" alt="Phase 6" style="width:125px;height:145px;">
	<% elsif chances == 3 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Hangman-3.png" alt="Phase 7" style="width:125px;height:145px;">
	<% elsif chances == 2 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Hangman-4.png" alt="Phase 8" style="width:125px;height:145px;">
	<% elsif chances == 1 %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Hangman-5.png" alt="Phase 9" style="width:125px;height:145px;">
	<% end %>
	</div>
	<div class = "margin_top">
		<% string_with_blanks = string_with_blanks.split("") %>
		<% string_with_blanks.each do |x| %>
		<font size="6"> <%=x%> </font>
		<% end %>
		<body>
			<br>
			<br>
			Past guesses: <%=list_of_guesses%>
			<h2>Your last guess has been used or is in an incorrect format, please make another one-letter guess. You currently have <%=chances%> chances left.</h2>
			<form action = "/makeguess" method = "post" class = "fix_padding">
				<input id = "guess" type = "text" name = "guess">
				<input id = "submit" type = "submit">
			</form>
		</body>
	</div>
</header>
</center>